
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
  <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
  <!-- /core JS files -->

  <!-- Theme JS files -->
  <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/visualization/echarts/echarts.js"></script>

  <script type="text/javascript" src="/assets/js/core/app.js"></script>
  <script type="text/javascript" src="/assets/js/pages/dashboard.js"></script>
  <script type="text/javascript" src="/assets/js/charts/echarts/pies_donuts.js"></script>
  <script type="text/javascript" src="/assets/js/pages/layout_sidebar_sticky_custom.js"></script>

  <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
  <!-- /theme JS files -->

</head>

<body class="navbar-bottom">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html"><img src="/assets/images/logo_light.png" alt=""></a>

    <ul class="nav navbar-nav visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>


    </ul>



    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-bubbles4"></i>
          <span class="visible-xs-inline-block position-right">Messages</span>
          <span class="badge bg-warning-400">2</span>
        </a>

        <div class="dropdown-menu dropdown-content width-350">
          <div class="dropdown-content-heading">
            Messages
            <ul class="icons-list">
              <li><a href="#"><i class="icon-compose"></i></a></li>
            </ul>
          </div>

          <ul class="media-list dropdown-content-body">
            <li class="media">
              <div class="media-left">
                <img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                <span class="badge bg-danger-400 media-badge">5</span>
              </div>

              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">James Alexander</span>
                  <span class="media-annotation pull-right">04:58</span>
                </a>

                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left">
                <img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                <span class="badge bg-danger-400 media-badge">4</span>
              </div>

              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Margo Baker</span>
                  <span class="media-annotation pull-right">12:16</span>
                </a>

                <span class="text-muted">That was something he was unable to do because...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Jeremy Victorino</span>
                  <span class="media-annotation pull-right">22:48</span>
                </a>

                <span class="text-muted">But that would be extremely strained and suspicious...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Beatrix Diaz</span>
                  <span class="media-annotation pull-right">Tue</span>
                </a>

                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
              </div>
            </li>

            <li class="media">
              <div class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
              <div class="media-body">
                <a href="#" class="media-heading">
                  <span class="text-semibold">Richard Vango</span>
                  <span class="media-annotation pull-right">Mon</span>
                </a>

                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
              </div>
            </li>
          </ul>

          <div class="dropdown-content-footer">
            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
          </div>
        </div>
      </li>

      <li class="dropdown dropdown-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="/assets/images/placeholder.jpg" alt="">
          <span><%= @user.username %></span>
          <i class="caret"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
          <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
          <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
          <li><a href="<%= Routes.session_path(@conn, :sign_out) %>"><i class="icon-switch2"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <div class="sidebar-fixed">
        <div class="sidebar-content">

          <!-- Main navigation -->
          <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
              <span>Main Menu</span>
              <ul class="icons-list">
                <li><a href="#" data-action="collapse"></a></li>
              </ul>
            </div>

            <div class="category-content sidebar-user">
              <div class="media">
                <a href="#" class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                <div class="media-body">
                  <span class="media-heading text-semibold"><%= String.upcase(@user.username) %></span>
                  <div class="text-size-mini text-muted">
                    <i class="icon-profile text-size-small"></i> <%= @user.email %>
                  </div>
                </div>

              </div>
            </div>

            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                <li><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                <li>
                  <a href="#"><i class="icon-stack2"></i> <span>Page layouts</span></a>
                  <ul>
                    <li><a href="layout_navbar_main_fixed.html">Fixed main navbar</a></li>
                  </ul>
                </li>
                <!-- /main -->

                <!-- Forms -->
                <li class="navigation-header"><span>Forms</span> <i class="icon-menu" title="Forms"></i></li>
                <li>
                  <a href="#"><i class="icon-insert-template"></i> <span>Form layouts</span></a>
                  <ul>
                    <li><a href="form_layout_vertical.html">Vertical form</a></li>
                    <li><a href="form_layout_horizontal.html">Horizontal form</a></li>
                  </ul>
                </li>
                <!-- /forms -->

                <!-- Appearance -->
                <li class="navigation-header"><span>Appearance</span> <i class="icon-menu" title="Appearance"></i></li>
                <li>
                  <a href="#"><i class="icon-spinner2 spinner"></i> <span>Animations</span></a>
                  <ul>
                    <li><a href="animations_css3.html">CSS3 animations</a></li>
                    <li>
                      <a href="#">Velocity animations</a>
                      <ul>
                        <li><a href="animations_velocity_basic.html">Basic usage</a></li>
                        <li><a href="animations_velocity_ui.html">UI pack effects</a></li>
                        <li><a href="animations_velocity_examples.html">Advanced examples</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <!-- /appearance -->




              </ul>
            </div>
          </div>
          <!-- /main navigation -->

        </div>
      </div>
    </div>
    <!-- /main sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">

      <%= @inner_content %>

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->


<!-- Footer -->
<div class="navbar navbar-default navbar-fixed-bottom footer">
  <ul class="nav navbar-nav visible-xs-block">
    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
  </ul>

  <div class="navbar-collapse collapse" id="footer">
    <div class="navbar-text">
      &copy; 2015. <a href="#" class="navbar-link">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" class="navbar-link" target="_blank">Eugene Kopyov</a>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- /footer -->

</body>
</html>
